<h1>Your Favorite Meals</h1>
<p></p>
<% @meals.each do |meal|%>
  <li>
    <%= link_to meal.title, meal_ingredients_path(meal)%>

  </li>

<%= link_to "Edit", edit_meal_path(meal) %>
    <% end %>
    <br>
<%= link_to "Make a new meal", new_meal_path(@meal) %>
<br>
<h4> Vegetarian Meals</h4>
  <% Meal.vegetarian.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal) %>
  </li>
  <% end %>
    <br>

<h4>Gluten Free Meals</h4>
<% Meal.glutenfree. each do |meal|%>
<li>
  <%= link_to meal.title, meal_ingredients_path(meal)%>
  </li>
  <% end %>
  <br>

