<h1>Your Favorite Meals</h1>
<p></p>
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>


<% @meals.each do |meal|%>
  <li>
    <%= link_to meal.title, meal_ingredients_path(meal)%>
    <%= link_to "Edit", edit_meal_path(meal) %>
  </li>


    <% end %>
    <br>
<%= link_to "Make a new meal", new_meal_path(@meal) %>
<br>
<h4> Vegetarian Meals</h4>
  <% Meal.vegetarian.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal) %>
  </li>
  <% end %>
    <br>

<h4>Gluten Free Meals</h4>
<% Meal.glutenfree. each do |meal|%>
<li>
  <%= link_to meal.title, meal_ingredients_path(meal)%>
  </li>
  <% end %>
  <br>

