<h1><%= @meal.title %></h1>
<%= @meal.ingredient.each do |ingredient| %>
<div>
<%= ingredient.name %>
</div>
<%= form_for @ingredient, url: '/ingredients' %>

<input type="hidden" name="meal_id" value="<%= @meal.id %>">
<% end %>

