<h1><%= @meal.title %></h1>
<div>
<%# <% form_for @ingredients, url: ingredient_path do |ingredient| %> 
<%# has<%= ingredient.name%> 
<%# <% end%> 
<div>

<h2>Ingredients</h2>

<% @meal.ingredients.each do |ingredient|%>
  <% mi = @meal.meals_ingredients.find { |mi| mi.ingredient_id == ingredient.id } %>
  <li><%= ingredient.name %>
  <%= link_to "Delete", meals_ingredient_path(mi), method: :delete %>
  </li>
  
<% end%>

<br>
<%= link_to "back to meals", meals_path(@meal)%>
<hr>
<br>

<h3>Add another ingredient</h3>




<%= form_for @meals_ingredient do |f|%> 
  <%= f.hidden_field :meal_id, :value => @meal.id %>
  pick <%= f.collection_select :ingredient_id, @ingredients, :id, :name %> 
    
  or add
  <%= f.fields_for :ingredients, @meals_ingredient.ingredient do |ingredients_fields| %>
  
    <%= ingredients_fields.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %> 
 <%= link_to "Edit Ingredients", ingredients_path(@ingredients)%>
  <br>
